.wrapper {

    .search-input {
        width: 100%;
    
        .search-btn {
            width: 85px;
            height: 25px;
            position: relative;
            right: 30px;
        }
    }
}
